<!DOCTYPE html>
<html>
  <head>
    <title>Genres</title>
  </head>
  <style>
    body{

background-image:url('img24.jpg');
background-repeat: no-repeat;
background-attachment: fixed;  
background-size: cover;

}

.btn-square-md {
width: 220px !important;
max-width: 100% !important;
max-height: 100% !important;
height: 220px !important;
text-align:center;
padding: 0px;
font-size:30px;
font-style: italic;
font-family:cursive;
color: rgb(194, 118, 201);
background-color: rgb(24, 31, 81);
border-radius: 50px;
margin-left: 100px;
margin-right: 70px;
margin-top: 30px;
}
  </style>
  <body>
<b><a href="trending"><button  type="button" class="btn-square-md">Trending</button></a>
<a href="indian"><button  type="button"  class="btn-square-md">Indian</button></a>
<a href="disney"><button type="button"  class="btn-square-md">Disney</button><br><br><br></a>
<a href="pop"><button type="button" class="btn-square-md">Pop</button></a>
<a href ="CCM"><button  type="button"  class="btn-square-md">CCM</button></a>
<a href ="kpop"><button type="button"  class="btn-square-md">Kpop</button></b></a>

  </body>
</html>